body{
    overflow: hidden;
}
/* 這裡是navbar */
body .navbar{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #8AACC8;
    width: 100%;
    height: 80px;
}
li{
    font-size: 22px;

}

#logoIcon{
    margin-top: -7px;  
}    
#openLoginButton{
    margin-top: -10px;
}
li a{
    color: #4B4D4E;
}

li a:hover{
    color: #072E48;
    text-decoration: none;
}
/* 這裏是登入按鈕 */

.modal-content .modal-header{
    background-color: #F2D37F;
}

.modal-content h4{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-content .form-group{
    font-family: Arial, Helvetica, sans-serif;
}
.modal-footer{
    height: 50px;
    padding: 0px;
    margin: 0px;
}
.modal-footer p{
    padding: 0px;
    margin-left: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4B4D4E
}
/* 這裏是背景圖片 */
#page03dot{
    margin-left: 400px;
    margin-top: -100px;
    height: 900px;
}

#page03IMG{
    height: 780px;
    margin-left: -100px;
    margin-top: -930px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
body pre{
    margin-top: -500px;
    margin-left: 700px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4B4D4E;
    font-weight: bold;
}
